.pa3{
  cursor: pointer;
  text-decoration: underline;
}
body{
  margin: 0;
  padding: 0;
  font-family:"Courier New", Courier, monospace;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%); 
}
button{
  cursor: pointer;
}
.text-center {
    text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-img {
  width: 300px;
  height: auto;
  position: relative;
}