.image-container {
  position: relative;
  display: inline-block;
}

.small-img {
  width: 500px; /* Increased a bit for better visibility */
  height: auto;
  display: block;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
